* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins&display=swap');

body {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  background-color: #FBFBFB;
}

.header-primary {
  position: relative;
  margin: 0 auto;
}

.header {
  position: relative;
  background-image: linear-gradient(to left, rgba(207, 241, 255, 0), rgba(207, 241, 255, 0.8)), url('../img/beach-palm-blue-sky-infinity.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 45%;
}

.background-text {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 64px;
  margin-left: 135px;
  max-width: 487px;
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
}

.header-nav {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  background-color: #fff;
}

.header-country-user {
  display: flex;
  justify-content: space-between;
}

.header-country-notification {
  display: flex;
  margin: auto 0;
  border-right: 1px solid #E7ECF3;
  height: 32px;
  align-items: center;
}

.header-country {
  display: flex;
}

.header-currency {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: #84878B;
  margin-right: 14px;
}

.header-country-logo {
  height: 20px;
  margin-right: 17px;
}

.header-notification-f {
  display: flex;
}

.header-notification {
  height: 20px;
  padding-right: 15px;
}


.header-notification-text {
  height: 100%;
  font-family: Roboto, sans-serif;
  color: white;
  padding: 1.4px 2.8px;
  background-color: red;
  border-radius: 50%;
  font-size: 6px;
  position: relative;
  left: -23px;
  top: 2px;
}

.header-user-drop {
  display: flex;
}

.header-user {
  display: flex;
}

.header-user-avatar {
  height: 32px;
  margin-right: 10px;
  padding-left: 20px;
}

.header-user-name {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #3B3E44;
  font-weight: 600;
  margin: auto 0;
  margin-right: 17px;
}

.header-user-drop-icon {
  width: 10px;
  height: 6px;
  margin: auto 0;
}

.f-header {
  position: relative;
  max-width: 1170px;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: -100px;
  box-shadow: 0px 12px 60px rgba(89, 89, 89, 0.1);
}

.f-header-top {
  max-width: 848px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E7ECF3;
  margin-bottom: 26px;
  margin-left: 60px;
}

.f-service {
  display: flex;
  height: 20px;
  margin-top: 29px;
  margin-bottom: 24px;
}

.f-service-hotel, .f-service-flight, 
.f-service-car{
  font-family: DM Sans, sans-serif;
  text-decoration: none;
  display: flex;
}

.f-service-flight, 
.f-service-car {
  margin-left: 32px;
}

.hotel-f, .flight-f, .car-f {
  font-size: 14px;
  color: #84878B;
  font-weight: 700;
}

.hotel-icon, .flight-icon, .car-icon {
  width: 20px;
  margin-right: 8px;
}

.f-content {
  display: flex;
  margin-top: 31px;
  margin: auto 0;
}

.f-round-trip, .f-passenger {
  font-family: DM Sans, sans-serif;
  text-decoration: none;
  display: flex;
}

.round-trip-text, .f-passenger-text {
  font-size: 18px;
  font-weight: 500;
  color: #3B3E44;
}

.f-round-trip {
  margin-right: 25px;
}

.arrow-down-icon {
  width: 10px;
  margin-left: 10px;
}

.f-header-bot {
  display: flex;
}

.container-bot {
  max-width: 848px;
  display: flex;
  margin: 0 50px 30px 60px;
}

.f-header-location {
  display: block;
  position: relative;
  font-family: DM Sans, sans-serif;
  text-decoration: none;
  width: 332px;
  background-color: #E7E8EA;
  padding: 10px 0 12px 24px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-right: 4px;
}

.f-header-text-location, .f-header-text-checkin, .f-header-text-checkout {
  font-size: 18px;
  color: #3B3E44;
  margin-bottom: 6px;
}

.f-header-location-sub, .f-header-checkin-sub, .f-header-checkout-sub {
  font-size: 16px;
  font-weight: 400;
  color: #B1B5C3;
}

.f-header-checkin {
  margin: 0 4px;
}

.f-header-checkout {
  margin-left: 4px;
}

.f-header-checkin, .f-header-checkout {
  display: block;
  position: relative;
  font-family: DM Sans, sans-serif;
  text-decoration: none;
  padding: 8px 0 12px 24px;
  width: 250px;
  background-color: #E7E8EA;
  box-sizing: border-box;
  border-radius: 8px;
}

.convert-btn {
  margin: auto 0;
}

.convert-icon-one {
  position: absolute;
  padding: 8px 5px;
  border-radius: 50%;
  margin-top: -15px;
  margin-left: -15px;
  z-index: 3;
  background-color: #fff;
}

.convert-icon-two {
  position: absolute;
  padding: 8px 5px;
  border-radius: 50%;
  margin-top: -15px;
  margin-left: -15px;
  z-index: 3;
  background-color: #fff;
}

.f-header-btn {
  text-decoration: none;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 20px;
  background-color: #3B71FE;
  padding: 21px 42px 23px;
  margin-bottom: 30px;
  color: #fff;
  border-radius: 10px;
}

.content {
  margin-top: 70px;
}

.content-text {
  text-align: center;

}

.content-text-head {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 48px;
}

.content-text-sub {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  color: #84878B; 
  font-size: 16px;
  max-width: 594px;
  margin: 12px auto 0;
  line-height: 24px;
}

.container-content {
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  grid-gap: 30px;
}

.grid-content {
  border: 1px solid #E7ECF3;
  border-radius: 10px;
  text-decoration: none;
}

.grid-content:hover {
  border: 1px solid #000;
}


.grid-container {
  margin: 30px 0 25px 30px;
}

.content-img {
  border-radius: 10px;
  margin-bottom: 18px;
}

.content-img-text {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  color: #3B3E44;
  font-size: 20px;
  margin-bottom: 12px;
}

.content-img-sub {
  font-family: DM Sans, sans-serif;
  color: #84878B;
  font-size: 14px;
  font-weight: 500;
}

.featured, .top-tour,
.explore-the-word, .trending-cites,
.travel {
  max-width: 1170px;
  margin: 70px auto 0;
}

.featured-text-head, .top-tour-text-head,
.explore-the-world-head, .trending-cites-text-head,
.travel-text-head {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #141416;
  margin-bottom: 12px;
}

.featured-text-sub, .top-tour-text-sub,
.explore-the-world-sub, .trending-cites-text-sub,
.travel-text-sub {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #3B3E44;
}

.featured-content {
  position: relative;
  margin-top: 38px;
  display: grid;
  grid-template-columns: 420px 420px 270px;
  grid-template-rows: 220px 30px 160px 220px;
  grid-template-areas: 
          "h1 h1 h4"
          "h1 h1 h5"
          "h2 h3 h5"
          "h2 h3 h6";
  grid-gap: 30px;
}

.featured-container:first-child {
  background-image: linear-gradient(38.52deg, rgba(3, 3, 3, 0.54) -3.66%, rgba(6, 6, 6, 0) 45.57%), url('../img/feature-1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 32%;
  border-radius: 18px;
  grid-area: h1;
  transition: transform .2s;
}

.featured-container:nth-child(2) {
  background-image: linear-gradient(357.11deg, rgba(30, 30, 30, 0.67) 11.64%, rgba(66, 66, 66, 0) 23.22%), url('../img/feature-2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 32%;
  border-radius: 20px;
  text-decoration: none;
  grid-area: h2;
  transition: transform .2s;
}

.featured-container:nth-child(3) {
  background-image: linear-gradient(2.01deg, rgba(35, 35, 35, 0.58) 13.14%, rgba(196, 196, 196, 0) 26.65%), url('../img/feature-3.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 32%;
  border-radius: 20px;
  text-decoration: none;
  grid-area: h3;
  transition: transform .2s;
}

.featured-container:nth-child(4) {
  background-image: linear-gradient(0.63deg, rgba(111, 130, 123, 0.48) 19.18%, rgba(31, 71, 56, 0) 39.64%), url('../img/feature-4.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 32%;
  border-radius: 20px;
  text-decoration: none;
  grid-area: h4;
  transition: transform .2s;
}

.featured-container:nth-child(5) {
  background-image: linear-gradient(0.63deg, rgba(39, 39, 39, 0.56) 19.18%, rgba(17, 17, 17, 0) 39.64%), url('../img/feature-5.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 32%;
  border-radius: 20px;
  text-decoration: none;
  grid-area: h5;
  transition: transform .2s;
}

.ml {
  margin-left: 12px;
}

.featured-container:last-child {
  background-image:  linear-gradient(0.63deg, rgba(39, 39, 39, 0.56) 19.18%, rgba(17, 17, 17, 0) 39.64%), url('../img/feature-6.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 32%;
  border-radius: 20px;
  text-decoration: none;
  grid-area: h6;
  transition: transform .2s;
}

.featured-container:hover {
  transform: scale(1.05);
}

.featured-grid {
  position: relative;
}

.featured-img {
  position: relative;
  border-radius: 18px;
}

.featured-text-img {
  position: absolute;
  margin-top: -104px;
  margin-left: 30px;
}

.featured-evaluate {
  position: absolute;
  text-align: center;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: rgba(255, 84, 61, 1);
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(40, 40, 40, 0.12);
  width: 60px;
  border-radius: 20px;
  padding: 4px 0;
  margin-top: -262px;
  margin-left: 20px;
}

.eva-2 {
  margin-top: -302px;
  box-shadow: 0px 4px 10px rgba(40, 40, 40, 0.12);
}

.eva-4 {
  font-size: 14px;
  margin-top: -148px;
  width: 50px;
  padding: 2px 0;
  box-shadow: 0px 2.9697px 7.42424px rgba(40, 40, 40, 0.12);
}

.featured-text-img-2 {
  margin-top: 190px;
  margin-left: 30px;
}

.featured-text-img-4 {
  margin-top: 82px;
  margin-left: 20px;
}

.featured-img-text {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}

.featured-img-text-2 {
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  margin-bottom: 12px;
}

.featured-text-4 {
  font-size: 18px;
  margin-bottom: 6px;
}

.featured-sub {
  display: flex;
}

.avatar-sub-featured {
  border-radius: 50%;
  margin-right: 12px;
}

.avatar-sub-featured-4 {
  width: 14px;
}

.featured-img-sub {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.featured-img-sub-2 {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.featured-img-sub-4 {
  font-size: 10px;
}

.top-tour-header,
.explore-the-word-header {
  display: flex;
  justify-content: space-between;
}

.forward {
  margin-top: 40px;
}

.forward-left, .forward-right {
  padding: 13px;
  background-color: rgba(244, 245, 246, 1);
  border-radius: 50%;
}

.forward-right {
  background-color: rgba(230, 232, 236, 1);
  margin-right: 10px;
}

.top-tour-content {
  position: relative;
  display: grid;
  grid-template-columns: 370px 370px 370px;
  grid-gap: 30px;
  margin-top: 60px;
}

.top-tour-container:first-child {
  background-image: linear-gradient(175.54deg, rgba(2, 0, 14, 0.13) 9.38%, rgba(42, 34, 101, 0) 47.26%, rgba(15, 11, 44, 0.6) 92.77%), url('../img/top-tour-1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100%;
  border-radius: 18px;
  text-decoration: none;
  transition: transform .2s;
}

.top-tour-container:nth-child(2) {
  background-image: linear-gradient(175.54deg, rgba(2, 0, 14, 0.13) 9.38%, rgba(42, 34, 101, 0) 47.26%, rgba(15, 11, 44, 0.6) 92.77%), url('../img/top-tour-2.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100%;
  border-radius: 18px;
  text-decoration: none;
  transition: transform .2s;
}

.top-tour-container:last-child {
  background-image: linear-gradient(188.42deg, rgba(2, 0, 14, 0) 56.39%, rgba(42, 34, 101, 0.17) 73.28%, rgba(5, 5, 6, 0.65) 98.94%), url('../img/top-tour-3.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100%;
  border-radius: 18px;
  text-decoration: none;
  transition: transform .2s;
}

.top-tour-container:hover {
  transform: scale(1.08)
}

.top-tour-location {
  position: absolute;
  margin-top: -335px;
  margin-left: 35px;
  font-family: DM Sans, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #E9EBF3;
  padding: 12px 28px;
  background: rgba(20, 20, 22, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 50px;
}

.top-tour-img-text {
  margin-left: 35px;
  margin-bottom: 34px;
}

.top-tour-img-text-primary {
  font-family: DM Sans, sans-serif;
  font-size: 34px;
  font-weight: 700;
  color: #FCFCFD;
  letter-spacing: -0.005em;
  text-shadow: 0px 6px 20px rgba(0, 0, 0, 0.4);
}

.top-tour-img-text-sub {
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FCFCFD;
  margin-top: 8px;
}

.explore-the-word-content {
  position: relative;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  margin-top: 50px;
  gap: 30px;
}

.explore-the-word-container {
  text-decoration: none;
  background: #FFFFFF;
  border: 1px solid #E7ECF3;
  box-sizing: border-box;
  border-radius: 20px;
}

.explore-the-word-container:hover {
  border: 1px solid #000;
}

.explore-the-word-grid {
  margin: 14px 14px 0;
}

.explore-the-word-img {
  border-radius: 16px;
}

.explore-the-word-rate {
  display: flex;
  margin-top: 20px;
}

.icon-star {
  margin-right: 8px;
}

.explore-the-word-rate-text {
  display: flex;
}

.rate, .rate-quality {
  margin-right: 2px;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #3B3E44;
}

.rate-quality {
  color: #84878B;
}

.explore-the-world-info {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.explore-the-world-text-primary {
  font-family: DM Sans, sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #3B3E44;
}

.explore-the-word {
  margin-bottom: 60px;
}

.explore-the-world-price {
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #316BFF;
  padding: 3px 10px;
  background-color: rgba(49, 107, 255, 0.2);
  border-radius: 6px;
}

.explore-the-world-distance {
  margin-top: 10px;
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #84878B;
}

.explore-the-world-location {
  display: flex;
  margin-top: 16px;
}

.explore-the-world-location-text {
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #84878B;
  margin-left: 10px;
}

.explore-the-world-room {
  display: flex;
  margin-top: 8px;
  margin-bottom: 20px;
}

.explore-the-world-room-text {
  display: flex;
  margin-left: 8px;
}

.room-text, .room-price {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #84878B;
}

.room-price {
  font-weight: 500;
  margin-left: 3px;
}

.bg-trending-cites {
  width: 100%;
  background-color: #F5F5F5;
}

.trending-cites {
  padding: 60px 0;
}

.trending-cites-text {
  text-align: center;
}

.trending-cites-content {
  max-width: 1098px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 534px 534px;
  grid-template-rows: 216px 216px 216px;
  grid-gap: 35px 30px;
}

.trending-cites-text-sub {
  margin-bottom: 50px;
}

.trending-cites-grid {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
}

.trending-cites-grid:hover {
  border: 1px solid #000;
}

.trending-cites-img {
  margin-left: 30px;
  width: 160px;
  height: 168px;
  border-radius: 20px;
  margin-right: 30px;
}

.trending-cites-img-text {
  font-family: DM Sans, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #282832;
}

.trending-rate {
  margin-top: 12px;
}

.trending-cites-price {
  display: flex;
  font-family: Poppins, sans-serif;
  margin-top: 22px;
  margin-bottom: 24px;
}

.prices-cites {
  font-weight: 600;
  font-size: 24px;
  color: #3B3E44;
}

.time-cites {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #92929A;
}

.trending-cites-book  {
  text-decoration: none;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  background-color: #316BFF;
  border-radius: 6px;
  padding: 8px 16px;
}

.bg-travel {
  width: 100%;
  margin-bottom: 240px;
}

.travel {

}

.travel-container {
  text-decoration: none;
}

.travel-content {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  grid-template-rows: 324px;
  gap: 30px;
  margin-top: 42px;
}

.img-text-travel {
  margin-top: 50px;
}

.travel-img-text {
  font-family: DM Sans, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-top: 120px;
  margin-left: 30px;
}

.bg-travel-1 {
  background-image: linear-gradient(8.54deg, rgba(31, 31, 31, 0.63) 17.12%, rgba(35, 35, 35, 0) 92.69%), url('../img/travel-1.png');
  height: 324px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50%;
  border-radius: 18px;
  text-decoration: none;
  transition: transform .2s;
}

.bg-travel-2 {
  background-image:  linear-gradient(1.52deg, rgba(22, 22, 22, 0.48) 14.56%, rgba(35, 35, 35, 0) 25.42%), url('../img/travel-2.png');
  height: 324px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50%;
  border-radius: 18px;
  text-decoration: none;
  transition: transform .2s;
}

.bg-travel-3 {
  background-image: linear-gradient(1.52deg, rgba(22, 22, 22, 0.48) 14.56%, rgba(35, 35, 35, 0) 25.42%), url('../img/travel-3.png');
  height: 324px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50%;
  border-radius: 18px;
  text-decoration: none;
  transition: transform .2s;
}

.bg-travel-4 {
  background-image: linear-gradient(6.66deg, rgba(0, 0, 0, 0.22) 15.51%, rgba(133, 118, 173, 0) 42.28%, rgba(20, 21, 31, 0) 42.28%), url('../img/travel-4.png');
  height: 324px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 50%;
  border-radius: 18px;
  text-decoration: none;
  transition: transform .2s;
}

.bg-travel-1:hover, .bg-travel-2:hover, 
.bg-travel-3:hover, .bg-travel-4:hover {
  transform: scale(1.08);
}

.travel-rate {
  margin-top: 6px;
  margin-left: 30px;
}

.rate-text-travel, .rate-quality-travel {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.footer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #F4F5F6;
  padding-bottom: 152px;
}

.footer-head {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  height: 248px;
  margin: 0 auto;
  top: -124px;
  background-color: #145CE6;
  border-radius: 16px;
}

.footer-text {
  padding-top: 62px;
  max-width: 420px;
  margin-left: 90px;
}

.footer-text-head {
  font-family: Gilroy, sans-serif;
  font-size: 44px;
  font-weight: 800;
  color: #fff;
  letter-spacing: -0.5px
}

.footer-text-sub {
  font-family: Roboto, sans-serif;
  letter-spacing: 1.2px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  opacity: 0.88;
  padding-top: 16px;
  line-height: 28px;
}

.footer-input {
  display: flex;
  padding-top: 115px;
  margin-right: 90px;
}

.input-text {
  width: 488px;
  height: 70px;
  border-radius: 4px;
}

.input-text::placeholder {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #B1B5C4;
  padding: 22px 26px;
}

.footer-subscribe {
  position: relative;
  margin-left: -136px;
  margin-top: 8px;
  height: 55px;
  text-decoration: none;
  background-color: #353945;
  color: #fff;
  padding: 18px 30px;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  align-items: center;
}

.footer-content {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  margin-left: 150px;
}

.footer-content-text {
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #84878B;
  max-width: 254px;
  margin: 20px 0;
  line-height: 24px;
}

.footer-theme {
  display: flex;
  padding: 10px 0;
  max-width: 128px;
  height: 38px;
  background-color: #fff;
  border-radius: 10px;
  border: 0.5px solid #EFEFEF;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;  
}

.light-theme {
  padding-left: 21px;
}

.dark-theme {
  padding-right: 21px;
}

.footer-service {
  display: flex;
  margin-left: 77px;
}

.footer-content-container {
  margin: 0 75px;
}

.footer-content-item {
  list-style: none;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #84878B;
  line-height: 2;
}

.footer-primary-text {
  font-size: 24px;
  line-height: 3;
  color: #222529;
}